# KNN Program

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('assignment6.xlsx')

In [3]:
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.1          3.5           1.4          0.2      setosa
1           4.9          3.0           1.4          0.2      setosa
2           4.7          3.2           1.3          0.2      setosa
3           4.6          3.1           1.5          0.2      setosa
4           5.0          3.6           1.4          0.2      setosa
5           7.0          3.2           4.7          1.4  versicolor
6           6.4          3.2           4.5          1.5  versicolor
7           6.9          3.1           4.9          1.5  versicolor
8           5.5          2.3           4.0          1.3  versicolor
9           6.5          2.8           4.6          1.5  versicolor

In [4]:
dataset = df.to_numpy()

In [9]:
dataset

array([[5.1, 3.5, 1.4, 0.2, 'setosa'],
       [4.9, 3.0, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.3, 0.2, 'setosa'],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.6, 1.4, 0.2, 'setosa'],
       [7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'versicolor']], dtype=object)

In [6]:
def euclidean_distance(x1, x2):
    dist = 0.0
    
    for i in range(len(x1) - 1):
        dist += np.square(x1[i] - x2[i])
    
    return np.sqrt(dist)

In [7]:
def get_nearest_neighbors(dataset, xi, k):
    distances = []
    
    for i in dataset:
        dist = euclidean_distance(i, xi)
        distances.append((i, dist))
    
    distances.sort(key=lambda dt: dt[1])
    
    neighbors = []

    for i in range(k):
        neighbors.append(distances[i][0])

    return neighbors

In [8]:
def predict_classification(dataset, xi, k):
    neighbors = get_nearest_neighbors(dataset, xi, k)
    
    labels = [n[-1] for n in neighbors]
    
    prediction = max(set(labels), key=labels.count)
    
    return prediction

## k = 3

In [9]:
test_data = [8.2, 2.6, 3.2, 1.8, "?"]

In [10]:
prediction = predict_classification(dataset, test_data, 3)

print(f"Prediction: {prediction}")

Prediction: versicolor

## k = 5

In [11]:
prediction = predict_classification(dataset, test_data, 5)

print(f"Prediction: {prediction}")

Prediction: versicolor

## k = 7

In [12]:
prediction = predict_classification(dataset, test_data, 7)

print(f"Prediction: {prediction}")

Prediction: versicolor