In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, year, expr

In [2]:
spark = SparkSession.builder.appName("Queries Demo").getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/07/30 18:58:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark

In [4]:
orders_df = spark.read.csv("orders_dataset.csv", inferSchema=True, header=True)

In [5]:
customers_df = spark.read.csv("customers_dataset.csv", inferSchema=True, header=True)

In [6]:
employees_df = spark.read.csv("employees_dataset.csv", inferSchema=True, header=True)

In [30]:
orders_df.createOrReplaceTempView("orders")

In [31]:
customers_df.createOrReplaceTempView("customers")

In [32]:
employees_df.createOrReplaceTempView("employees")

In [34]:
orders_df.show(5)
customers_df.show(5)
employees_df.show(5)
employees_df.select(year(to_date("hire_date", "MM/dd/yyyy")).alias("Hiring Year")).show()

+--------+-----------+---------+-----------+----------+
|order_id|customer_id|   status|salesman_id|order_date|
+--------+-----------+---------+-----------+----------+
|       1|       1015|  pending|        109|02/07/2020|
|       2|       1012|  pending|        112|04/16/2021|
|       3|       1007|  shipped|        115|09/28/2019|
|       4|       1011|  shipped|        106|09/18/2020|
|       5|       1013|cancelled|        106|09/18/2019|
+--------+-----------+---------+-----------+----------+
only showing top 5 rows

+-----------+-----------------+-------------------+--------------------+------------+
|customer_id|             name|            address|             website|credit_limit|
+-----------+-----------------+-------------------+--------------------+------------+
|       1001|   Garold Greaser|    431 Basil Court|ggreaser0@people....|        4523|
|       1002|       Dion Halms|   9 Sheridan Place|     dhalms1@psu.edu|        1087|
|       1003|Phillida Stickney|  53169 Oriole Lane|pstickney2@cpanel...|         993|
|       1004|   Clare Kilfoyle|    46 Crowley Park|ckilfoyle3@prince...|        1904|
|       1005| Arther Hallstone|55373 Mosinee Drive|ahallstone4@globo...|         710|
+-----------+-----------------+-------------------+--------------------+------------+
only showing top 5 rows

+-----------+----------+---------+--------------------+-------------------+----------+----------+---------+
|employee_id|first_name|last_name|               email|              phone| hire_date|manager_id|job_title|
+-----------+----------+---------+--------------------+-------------------+----------+----------+---------+
|        101|       Kym| Whatsize|kwhatsize0@wunder...|+370 (693) 534-8606|11/08/2020|       101|  manager|
|        102|     Keane|   Plaide|kplaide1@howstuff...| +33 (192) 932-7412|07/21/2017|       102|  manager|
|        103|   Carilyn|     Vost|cvost2@economist.com| +62 (196) 102-6337|04/28/2019|       103|  manager|
|        104|   Niccolo| Lingfoot|  nlingfoot3@bbb.org|+242 (292) 175-8783|12/12/2018|       104|  manager|
|        105|     Terza|     Pady|      tpady4@fc2.com| +86 (205) 859-4774|06/21/2020|       101| salesman|
+-----------+----------+---------+--------------------+-------------------+----------+----------+---------+
only showing top 5 rows

+-----------+
|Hiring Year|
+-----------+
|       2020|
|       2017|
|       2019|
|       2018|
|       2020|
|       2021|
|       2017|
|       2020|
|       2018|
|       2020|
|       2020|
|       2020|
|       2018|
|       2020|
|       2020|
|       2017|
|       2020|
|       2018|
|       2019|
|       2019|
+-----------+

### Create a pivot that shows, how many orders each customer placed per year. Give the customer_id and name of each customer. Sort the resulting DataFrame by the customer name in ascending order and replace all null values by 0. Use the DataFrane API.

In [9]:
# VERY BAD QUERY
orders_df.groupBy("customer_id", year(to_date("order_date", "MM/dd/yyyy")).alias("year")).count().alias("o")\
.join(customers_df.alias("c"), expr("o.customer_id = c.customer_id"), "right")\
.select("c.customer_id", "name", "year", "count")\
.sort("customer_id", ascending=True).na.fill(0).toPandas()

    customer_id                name  year  count
0          1001      Garold Greaser     0      0
1          1002          Dion Halms     0      0
2          1003   Phillida Stickney     0      0
3          1004      Clare Kilfoyle     0      0
4          1005    Arther Hallstone     0      0
5          1006  Granville Brosetti  2021      1
6          1006  Granville Brosetti  2020      1
7          1007    Brandice Alleway  2018      3
8          1007    Brandice Alleway  2020      1
9          1007    Brandice Alleway  2019      3
10         1008         Caryn Madre  2020      2
11         1008         Caryn Madre  2017      1
12         1008         Caryn Madre  2019      1
13         1009        Adolph Cisco  2018      1
14         1009        Adolph Cisco  2020      1
15         1010    Emmeline Kettley  2020      2
16         1010    Emmeline Kettley  2017      2
17         1011     Betteanne Babbs  2019      1
18         1011     Betteanne Babbs  2017      1
19         1011     Betteanne Babbs  2018      1
20         1011     Betteanne Babbs  2020      1
21         1011     Betteanne Babbs  2021      3
22         1012          Sela Mabey  2018      2
23         1012          Sela Mabey  2021      1
24         1013      Nataniel Garey  2018      1
25         1013      Nataniel Garey  2021      1
26         1013      Nataniel Garey  2019      6
27         1013      Nataniel Garey  2017      3
28         1014        Sonia Meller  2020      1
29         1014        Sonia Meller  2019      1
30         1014        Sonia Meller  2017      1
31         1014        Sonia Meller  2018      2
32         1015        Bunni Honack  2020      3
33         1015        Bunni Honack  2021      1
34         1015        Bunni Honack  2017      1
35         1016      Melina Adshead     0      0
36         1017         Andree Rehn     0      0
37         1018       Sheffy Dilger     0      0
38         1019      Arabele Ceeley     0      0
39         1020        Elise Buffey     0      0

In [10]:
# Looks OKAY tho can drop null column
orders_df.alias("o").join(customers_df.alias("c"), expr("o.customer_id = c.customer_id"), "right")\
.withColumn("year", year(to_date("order_date", "MM/dd/yyyy"))).selectExpr("c.customer_id","name", "year")\
.groupBy("name", "c.customer_id").pivot("year").agg({"year": "count"})\
.orderBy("c.customer_id", ascending=True).na.fill(0).toPandas()

                  name  customer_id  null  2017  2018  2019  2020  2021
0       Garold Greaser         1001     0     0     0     0     0     0
1           Dion Halms         1002     0     0     0     0     0     0
2    Phillida Stickney         1003     0     0     0     0     0     0
3       Clare Kilfoyle         1004     0     0     0     0     0     0
4     Arther Hallstone         1005     0     0     0     0     0     0
5   Granville Brosetti         1006     0     0     0     0     1     1
6     Brandice Alleway         1007     0     0     3     3     1     0
7          Caryn Madre         1008     0     1     0     1     2     0
8         Adolph Cisco         1009     0     0     1     0     1     0
9     Emmeline Kettley         1010     0     2     0     0     2     0
10     Betteanne Babbs         1011     0     1     1     1     1     3
11          Sela Mabey         1012     0     0     2     0     0     1
12      Nataniel Garey         1013     0     3     1     6     0     1
13        Sonia Meller         1014     0     1     2     1     1     0
14        Bunni Honack         1015     0     1     0     0     3     1
15      Melina Adshead         1016     0     0     0     0     0     0
16         Andree Rehn         1017     0     0     0     0     0     0
17       Sheffy Dilger         1018     0     0     0     0     0     0
18      Arabele Ceeley         1019     0     0     0     0     0     0
19        Elise Buffey         1020     0     0     0     0     0     0

### Evaluation Plan Q3 (a)

In [18]:
employees_df.alias("m").join(employees_df.alias("e"), expr("m.employee_id = e.manager_id"), "inner")\
.select("e.employee_id", "e.first_name", "e.last_name", "e.job_title").explain()

== Physical Plan ==
*(2) Project [employee_id#646, first_name#647, last_name#648, job_title#653]
+- *(2) BroadcastHashJoin [employee_id#68], [manager_id#652], Inner, BuildLeft, false
   :- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#439]
   :  +- *(1) Filter isnotnull(employee_id#68)
   :     +- FileScan csv [employee_id#68] Batched: false, DataFilters: [isnotnull(employee_id#68)], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/work/Queries/employees_dataset.csv], PartitionFilters: [], PushedFilters: [IsNotNull(employee_id)], ReadSchema: struct<employee_id:int>
   +- *(2) Filter isnotnull(manager_id#652)
      +- FileScan csv [employee_id#646,first_name#647,last_name#648,manager_id#652,job_title#653] Batched: false, DataFilters: [isnotnull(manager_id#652)], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/work/Queries/employees_dataset.csv], PartitionFilters: [], PushedFilters: [IsNotNull(manager_id)], ReadSchema: struct<employee_id:int,first_name:string,last_name:string,manager_id:int,job_title:string>

In [38]:
spark.sql("""
SELECT e.employee_id, e.first_name, e.last_name, e.job_title 
FROM employees m 
INNER JOIN employees e ON m.employee_id = e.manager_id
""").explain()

== Physical Plan ==
*(2) Project [employee_id#840, first_name#841, last_name#842, job_title#847]
+- *(2) BroadcastHashJoin [employee_id#68], [manager_id#846], Inner, BuildLeft, false
   :- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#640]
   :  +- *(1) Filter isnotnull(employee_id#68)
   :     +- FileScan csv [employee_id#68] Batched: false, DataFilters: [isnotnull(employee_id#68)], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/work/Queries/employees_dataset.csv], PartitionFilters: [], PushedFilters: [IsNotNull(employee_id)], ReadSchema: struct<employee_id:int>
   +- *(2) Filter isnotnull(manager_id#846)
      +- FileScan csv [employee_id#840,first_name#841,last_name#842,manager_id#846,job_title#847] Batched: false, DataFilters: [isnotnull(manager_id#846)], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/work/Queries/employees_dataset.csv], PartitionFilters: [], PushedFilters: [IsNotNull(manager_id)], ReadSchema: struct<employee_id:int,first_name:string,last_name:string,manager_id:int,job_title:string>

### Evaluation Plan Q3 (b)

In [50]:
employees_df.join(orders_df, expr("employee_id = salesman_id"), "left")\
.groupBy("employee_id").agg({"order_id": "count"}).sort("count(order_id)", ascending=False).explain()

== Physical Plan ==
*(4) Sort [count(order_id)#1163L DESC NULLS LAST], true, 0
+- Exchange rangepartitioning(count(order_id)#1163L DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [id=#1282]
   +- *(3) HashAggregate(keys=[employee_id#68], functions=[count(order_id#16)])
      +- Exchange hashpartitioning(employee_id#68, 200), ENSURE_REQUIREMENTS, [id=#1278]
         +- *(2) HashAggregate(keys=[employee_id#68], functions=[partial_count(order_id#16)])
            +- *(2) Project [employee_id#68, order_id#16]
               +- *(2) BroadcastHashJoin [employee_id#68], [salesman_id#19], LeftOuter, BuildRight, false
                  :- FileScan csv [employee_id#68] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/work/Queries/employees_dataset.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<employee_id:int>
                  +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[1, int, false] as bigint)),false), [id=#1272]
                     +- *(1) Filter isnotnull(salesman_id#19)
                        +- FileScan csv [order_id#16,salesman_id#19] Batched: false, DataFilters: [isnotnull(salesman_id#19)], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/work/Queries/orders_dataset.csv], PartitionFilters: [], PushedFilters: [IsNotNull(salesman_id)], ReadSchema: struct<order_id:int,salesman_id:int>

In [51]:
spark.sql("""
SELECT employee_id, COUNT(order_id) 
FROM employees 
LEFT JOIN orders ON employee_id = salesman_id 
GROUP BY employee_id
ORDER BY count(order_id) DESC
""").explain()

== Physical Plan ==
*(4) Sort [count(order_id)#1169L DESC NULLS LAST], true, 0
+- Exchange rangepartitioning(count(order_id)#1169L DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [id=#1345]
   +- *(3) HashAggregate(keys=[employee_id#68], functions=[count(order_id#16)])
      +- Exchange hashpartitioning(employee_id#68, 200), ENSURE_REQUIREMENTS, [id=#1341]
         +- *(2) HashAggregate(keys=[employee_id#68], functions=[partial_count(order_id#16)])
            +- *(2) Project [employee_id#68, order_id#16]
               +- *(2) BroadcastHashJoin [employee_id#68], [salesman_id#19], LeftOuter, BuildRight, false
                  :- FileScan csv [employee_id#68] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/work/Queries/employees_dataset.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<employee_id:int>
                  +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[1, int, false] as bigint)),false), [id=#1335]
                     +- *(1) Filter isnotnull(salesman_id#19)
                        +- FileScan csv [order_id#16,salesman_id#19] Batched: false, DataFilters: [isnotnull(salesman_id#19)], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/work/Queries/orders_dataset.csv], PartitionFilters: [], PushedFilters: [IsNotNull(salesman_id)], ReadSchema: struct<order_id:int,salesman_id:int>