In [1]:
import pandas as pd

## Z-Score standardization

In [2]:
df = pd.DataFrame([56, 100, 23, 480, 32], columns=["Raw"])

In [3]:
df_mean = df.mean()
df_std = df.std(ddof=0)

In [6]:
df["z_score"] = (df - df_mean) / df_std

In [7]:
df

   Raw   z_score
0   56 -0.475227
1  100 -0.220848
2   23 -0.666012
3  480  1.976067
4   32 -0.613980

In [8]:
df = pd.DataFrame([300, 10, 234], columns=["Raw"])

In [9]:
df["z_score"] = (df - df_mean) / df_std

In [10]:
df

   Raw   z_score
0  300  0.935423
1   10 -0.741170
2  234  0.553854

## Covariance & Corelation coefficient

In [23]:
df = pd.DataFrame([[5.4, 52, 21],
                   [5.6, 58.5, 26],
                   [4.8, 42.6, 23],
                   [5.11, 60, 29]], 
                  columns=["H", "W", "A"])

In [24]:
df

      H     W   A
0  5.40  52.0  21
1  5.60  58.5  26
2  4.80  42.6  23
3  5.11  60.0  29

In [25]:
df["H"].cov(df["W"])

1.83325

In [26]:
df["W"].cov(df["A"])

19.525

In [27]:
df["A"].cov(df["H"])

0.022499999999999964

In [28]:
df["H"].corr(df["W"])

0.6636648945552824

In [29]:
df["W"].corr(df["A"])

0.7044993062423048

In [30]:
df["A"].corr(df["H"])

0.018428248254532965

## Compute the eigen values for the matrix

In [31]:
from numpy.linalg import eig

In [32]:
df = pd.DataFrame([[5, -3],
                   [-6, 2]], columns=["A", "B"])

In [33]:
df

   A  B
0  5 -3
1 -6  2

In [34]:
val, vac = eig(df)

In [35]:
val

array([ 8., -1.])